* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
}
html {
scroll-behavior: smooth;
}

main {
text-align: center;
height: 940px;
font-size: 30px;
padding-top: 250px;
color: #fff;
}

/* FRONT */
#front {
position: relative;
background-image: url("fundoroxo.png");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
}

.container {
color: aliceblue;
height: 10vh;
width: 100%;
text-align: right;
background-color: transparent;
background: none;
}

.right-nav {
font-size: 22px;    
display: inline-block;
font-weight: bold;
margin: 2%;
}       

.troca-lingua {
align-items: center;
justify-content: space-between;
border-radius: 30px;
background-color: azure;
padding: 6px;
}

.lang-br {

}

.lang-us {

}

.bandeira {
    position: absolute;
    background-image: url(/Styles/brasil.jpg);
    border-radius: 30px;
}
.gradiente {
background-image: linear-gradient(purple, rgb(235, 115, 135));
background-clip: text;
color: transparent;
}

.botao-projeto {
display: flex;           
align-items: center;         
justify-content: center;     
gap: 8px; 
text-align: center;
font-size: 16px;
height: 55px;
width: 200px;
background-image: linear-gradient(to left,#8a2be2, #6A1B9A);
background-clip: border-box;    
color: aliceblue;
font-weight: bold;
text-decoration: none;
border: none;
border-image: linear-gradient(to left #8a2be2, #6A1B9A);
border-radius: 6px;
}

.botao-projeto:hover {
cursor: pointer;
position: relative;
text-align: center;
font-size: 16px;
height: 55px;
width: 200px;
background-image: linear-gradient(to left,#6c20b3, #6A1B9A);
background-clip: border-box;    
color: aliceblue;
font-weight: bold;
border: none;
border-image: linear-gradient(to left #6c20b3, #6A1B9A);
border-radius: 6px;
}

.botao-projeto:active {
cursor: pointer;
position: relative;
text-align: center;
font-size: 16px;
height: 55px;
width: 200px;
background-image: linear-gradient(to left,#3e0f69, #3e0f69);
background-clip: border-box;    
color: aliceblue;
font-weight: bold;
border: none;
border-image: linear-gradient(to left #3e0f69, #3e0f69);
border-radius: 6px;
}

#redes-sociais{
display: inline-block;
vertical-align: middle;
}

.botao-cv {
display: flex;           
align-items: center;         
justify-content: center;     
gap: 8px; 
position: relative;
text-align: center;
font-size: 16px;
width: 200px;
height: 55px; 
background-image: linear-gradient(#191970, #212121);
background-clip: border-box;
color: aliceblue;
font-weight: bold;
border: none;
border-image: linear-gradient(to left #191970, #212121);
border-radius: 6px;
}

.botao-cv:hover {
cursor: pointer;
display: flex;           
align-items: center;         
justify-content: center;     
gap: 8px; 
position: relative;
text-align: center;
font-size: 16px;
width: 200px;
height: 55px;
background-image: linear-gradient(#121252, #181818);
background-clip: border-box;
color: aliceblue;
font-weight: bold;
border: none;
border-image: linear-gradient(to left #121252, #181818);
border-radius: 6px;
}

.botao-cv:active {
cursor: pointer;
display: flex;           
align-items: center;         
justify-content: center;     
gap: 8px; 
position: relative;
text-align: center;
font-size: 16px;
width: 200px;
height: 55px;
background-image: linear-gradient(#0f0f46, #0c0c0c);
background-clip: border-box;
color: aliceblue;
font-weight: bold;
border: none;
border-image: linear-gradient(to left #0f0f46, #0c0c0c);
border-radius: 6px;
}

#botoes-main {
gap: 1vw;
justify-content: center;
display: flex;
padding: 3%;
align-items: center;
}

.material-symbols-outlined {
color: aliceblue;
background-color: transparent;
}

header a {
    text-decoration: none;
    color: #fff;
}

header a:hover {
    text-decoration: none;
    color: #784596;
}

.logos-redes-sociais {
    color: white;
    margin: 10px;
}

.logos-redes-sociais:hover {
    color: rgb(201, 201, 201);
}

.logos-redes-sociais:active {
    color: rgb(179, 179, 179);
}

/* FRONT */


/* SOBRE */
#sobre {
position: relative;
width: 100%;
height: 1000px;
color: aliceblue;
background-color: rgb(37, 37, 37);
box-shadow: 0 0 0 0.5px rgba(255, 255, 255, 0.1);
}

.mini-title {
    height: 200px;
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.mini-title-h1 {
    font-weight: bold;
    font-size: 42px;
    background-image: linear-gradient(to top,#8529db, #0ed5e4);
    background-clip: text;
    color: transparent;
}

.titulo-eng-sobremim {
margin-top: 70px; 
margin-right: 105px;
text-align: center;
}

.sobre-mim {
display: flex; 
}

.content-sobremim {
    width: 50%;
    height: 480px;
}

.texto-sobremim {
margin-top: 15px;
text-align: left; 
margin-left: 305px;
}

article p {
    margin-top: 25px;
}

.content-ferramentas {
    background-color: rgb(37, 37, 37);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: 35%;
    height: 280px;
    padding: 1.75%;
    margin-top: 85px; 
    margin-left: 50px;
}

.tec-fer {
    margin-bottom: 20px; 
    margin-top: 20px; 
}

.segunda-linha-badges {
    margin-top: 6%;
}

.badges {
    display: inline-block;
    vertical-align: middle;
    margin-top: 30px;
    width: 95%;
}

.badge {
cursor: default;
padding: 0.5rem;
background-image: linear-gradient(to left,#8a2be2, #6A1B9A);
border-image: linear-gradient(#8a2be2, #6A1B9A);
border-radius: 15px;
}

.badge:hover {
cursor: default;
padding: 0.5rem;
background-image: linear-gradient(to left,#8229d6, #5d1988);
border-image: linear-gradient(#8229d6, #5d1988);
border-radius: 15px;
}


/* SOBRE */


/* PROJETOS */
#projetos {
position: relative;
width: 100%;
height: 1000px;
color: aliceblue;
background-color: rgb(0, 0, 0);
box-shadow: 0 0 0 0.5px rgba(255, 255, 255, 0.1);
align-content: start;
text-align: center;
}

#div-projetos {
    margin-top: 40px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px 40px;
}

.card-projeto {
    height: 550px;
    width: 450px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
    border-radius: 12px 12px 12px 12px;
}

.fotos-projetos{
width: 450.5px; 
height:250px;
border-radius: 12px 12px 0 0;
}

.desc-projetos {
    padding: 13px 20px 20px 20px;
    margin-top: 10px;
}

.botoes-projetos {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px 20px; 
}

.btnDemo {
    display: flex;           
    align-items: center;         
    justify-content: center;     
    gap: 8px;
    border: 2px solid white;
    padding: 15px;
    width: 180px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    box-shadow: 0 0 0 1px linear-gradient(to left,#a65fe9, #822bd3);
    border-radius: 12px 12px 12px 12px;
    background-image: linear-gradient(to left,#a85dee, #6A1B9A);
    background-clip: border-box;    
    border: none;
    border-image: linear-gradient(#a85dee, #6A1B9A);
}

.btnDemo:hover {
    border: 2px solid white;
    padding: 15px;
    width: 180px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    box-shadow: 0 0 0 1px linear-gradient(to left,#a65fe9, #822bd3);
    border-radius: 12px 12px 12px 12px;
    background-image: linear-gradient(to left,#c79fec, #a24af5);
    background-clip: border-box;    
    border: none;
    border-image: linear-gradient(#c79fec, #a24af5);
}

.btnDemo:active {
    border: 2px solid white;
    padding: 15px;
    width: 180px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    box-shadow: 0 0 0 1px linear-gradient(to left,#a65fe9, #822bd3);
    border-radius: 12px 12px 12px 12px;
    background-image: linear-gradient(to left,#a65fe9, #822bd3);
    background-clip: border-box;    
    border: none;
    border-image: linear-gradient(#a65fe9, #822bd3);
}

.btnCodigo {
display: flex;           
align-items: center;         
justify-content: center;     
gap: 8px; 
padding: 15px;
width: 180px;
height: 50px;
text-decoration: none;
color: aliceblue; 
font-weight: bold;
box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
border-radius: 12px 12px 12px 12px;
background-color: rgb(5, 5, 5);
}

.intern-btncodigo {
border: 1px solid white;
width: 40px;
display: flex;           
align-items: center;         
justify-content: center;     
gap: 8px; 
}

.btnCodigo:hover {
    padding: 15px;
    width: 180px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: aliceblue; 
    font-weight: bold;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
    border-radius: 12px 12px 12px 12px;
    background-color: rgb(3, 3, 3);
}

.btnCodigo:active {
    padding: 15px;
    width: 180px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: aliceblue; 
    font-weight: bold;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
    border-radius: 12px 12px 12px 12px;
    background-color: rgb(0, 0, 0);
}

/* PROJETOS */


/* CONTATOS */
#contato {
position: relative;
width: 100%;
height: 1000px;
color: aliceblue;
background-color: rgb(37, 37, 37);
}

.div-contato-pai {
width: 100%;
height: 800px;
display: flex;
}

.div-contato {
    width: 50%;
    display: flex;
}

.text-contato{
width: 70%;
height: 60%;
margin-left: 20%;
margin-top: 9%;
}

.div-form {
    margin: 20px;
    width: 50%;
}

.badge-contato {
padding: 10px;
width: 60px;
height: 60px;
margin-top: 30px;
background-image: linear-gradient(to left,#0ed5e4, #2991e7);
border-image: linear-gradient(#0ed5e4, #2991e7);
border-radius: 15px;
text-align: center;
background-clip: border-box;
}

.logo-email {
 color: white;
 background-color: white;
 height: 40px;
 width: 40px;
}

li {
    display: flex;
    margin-left: 40px;
    width: 50%;
}

li section{
    justify-content: center;
    margin-top: 40px;
    margin-left: 10px;
}

.pai-logo-contato {
    border: 1px solid white;
    height: 150px;
    width: 80px;
}

.card-form{
    background-color: rgb(37, 37, 37);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: 75%;
    height: 80%;
    padding: 75px 30px;
    display: flexbox;
}

.prim-linha-form {
    width: 100%;
    display: flex;
    gap: 6%;
}

.input-form {
    background-color: rgb(37, 37, 37);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: none;
    height: 40px;
    width: 299px;
    color: white;
    margin-top: 5px;
}

.input-form:focus {
    background-color: rgb(47, 47, 47);;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.055);
    border-radius: 12px;
    border: none;
    color: white;
}

.input-assunto {
    background-color: rgb(37, 37, 37);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: none;
    height: 40px;
    width: 100%;
    color: white;
    margin-top: 5px;
}

.input-assunto:focus {
    background-color: rgb(47, 47, 47);;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.055);
    border-radius: 12px;
    border: none;
    color: white;
}

.input-msg {
    background-color: rgb(37, 37, 37);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: none;
    height: 120px;
    width: 100%;
    color: white;
    text-align: justify;
    justify-content: flex-start;
    margin-top: 5px;
}

.input-msg:focus {
    background-color: rgb(47, 47, 47);;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.055);
    border-radius: 12px;
    border: none;
    color: white;
}

.seg-linha-form, .terc-linha-form {
    margin-top: 40px;
}

.enviar-email {
    margin-top: 40px;
    border: 2px solid white;
    padding: 15px;
    width: 100%;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    box-shadow: 0 0 0 1px linear-gradient(to left,#a65fe9, #822bd3);
    border-radius: 12px 12px 12px 12px;
    background-image: linear-gradient(to left,#a85dee, #6A1B9A);
    background-clip: border-box;    
    border: none;
    border-image: linear-gradient(#a85dee, #6A1B9A);
}

.enviar-email:hover {
    cursor: pointer;
    margin-top: 40px;
    border: 2px solid white;
    padding: 15px;
    width: 100%;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    box-shadow: 0 0 0 1px linear-gradient(to left,#bd85f1, #9c52e2);
    border-radius: 12px 12px 12px 12px;
    background-image: linear-gradient(to left,#bd85f1, #9c52e2);
    background-clip: border-box;    
    border: none;
    border-image: linear-gradient(#bd85f1, #9c52e2);
}

.enviar-email:active {
    margin-top: 40px;
    border: 2px solid white;
    padding: 15px;
    width: 100%;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    box-shadow: 0 0 0 1px linear-gradient(to left,#6A1B9A, #4c1170);
    border-radius: 12px 12px 12px 12px;
    background-image: linear-gradient(to left,#6A1B9A, #4c1170);
    background-clip: border-box;    
    border: none;
    border-image: linear-gradient(#6A1B9A, #4c1170);
}

/* CONTATOS */

 

/* RODAPÉ */
#rodape {
position: relative;
width: 100%;
height: 230px;
color: aliceblue;
background-color: rgb(0, 0, 0);
box-shadow: 0 0 0 0.5px rgba(255, 255, 255, 0.1);
display: flex;
}

.text-rodape1{
    margin-left: 160px;
    margin-top: 40px;
    display: flexbox;
    height: 155px;
    width: 34%;
    color: rgb(212, 212, 212);
    box-shadow: 0 0.5px 0 0 rgba(255, 255, 255, 0.1);
}

.text-rodape2{
    display: flexbox;
    margin-top: 45px;
    height: 150px;
    width: 34%;
    box-shadow: 0 0.5px 0 0 rgba(255, 255, 255, 0.1);
}

.text-rodape3{
    margin-top: 45px;
    display: flexbox;
    height: 150px;
    width: 14%;
    box-shadow: 0 0.5px 0 0 rgba(255, 255, 255, 0.1);

}

.dev-title {
    font-weight: bold;
    font-size: 28px;
    background-image: linear-gradient(to top,#8426db, #0ed5e4);
    background-clip: text;
    color: transparent;
}

.links-rapidos-rodape,.links-rapidos-rodape a {
    text-decoration: none;
    display: grid;
    gap: 10px;
    color: rgb(212, 212, 212);
}

.links-rapidos-rodape a:hover{
    text-decoration: none;
    display: grid;
    gap: 10px;
    color: rgb(212, 212, 212);
    text-decoration: underline;
}
/* RODAPÉ */



/* MOBILE 768px MAX */
@media (max-width: 768px) {

/* MAIN */
.main {
    width: 414px;
    display: flex;
}
/* MAIN */


/* FRONT */
  .botao-projeto {
    font-size: 14px;
  }

/* FRONT */

/* SOBRE MIM */
#sobre {
display: flex;
position: relative;
width: 100%;
height: 1450px;
flex-direction: column;
}

.mini-title {
    height: 150px;
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-title-h1 {
    font-weight: bold;
    font-size: 42px;
    background-image: linear-gradient(to top,#8529db, #0ed5e4);
    background-clip: text;
    color: transparent;
}

.titulo-eng-sobremim {
margin: 30px;
text-align: center;
}

.sobre-mim {
display: flex; 
flex-direction: column;
padding: 2%;
}

.content-sobremim {
    display: flex;
    width: 100%;
    height: 480px;
    flex-direction: column;
}

.texto-sobremim {
margin-top: 5px;
text-align: left; 
margin-left: 5px;
}

.content-ferramentas {
    width: 80%;
    height: 70vh;
    padding: 1.75%;
}

.tec-fer {
    margin-bottom: 20px; 
    margin-top: 20px; 
    margin-left: 20px;
}

.segunda-linha-badges {
    display: grid;
    gap: 15%;
}

.badges {
    display: grid;
    vertical-align: middle;
    width: 25%;
    height: 60%; 
    margin-left: 33%;
    gap: 5%;
}

.badge {
cursor: default;
text-align: center;
padding: 0.5rem;
background-image: linear-gradient(to left,#8a2be2, #6A1B9A);
border-image: linear-gradient(#8a2be2, #6A1B9A);
border-radius: 15px;
}

.badge:hover {
cursor: default;
padding: 0.5rem;
background-image: linear-gradient(to left,#8229d6, #5d1988);
border-image: linear-gradient(#8229d6, #5d1988);
border-radius: 15px;
}
/* SOBRE MIM */

/* PROJETOS */
#projetos {
width: 100%;
height: 2200px;
box-shadow: 0 0 0 0.5px rgba(255, 255, 255, 0.1);
align-content: start;
text-align: center;
}

#div-projetos {
    margin: 40px;
    height: 650px;
    list-style: none;
    display: list-item;
    justify-content: center;
    align-items: center;
    gap: 10px 40px;
}

.card-projeto {
    width: 90%;
    margin-top: 20%;
    height: 570px;
}

.desc-projetos {
    padding: 3% 5% 5% 5%;
    margin-top: 3%;
}

.botoes-projetos {
    height: 100px;
    gap: 3%;
}

.fotos-projetos {
    width: 100%;
}
/* PROJETOS */


/* CONTATOS */
#contato {
height: 1500px;
color: aliceblue;
background-color: rgb(37, 37, 37);
display: flex;
flex-direction: column;
}

.mini-title-h1 {
    width: 100%;
}

.div-contato {
    width: 100%;
    border: 1px solid white;
}

.div-contato-pai {
width: 100%;
height: 800px;
display: flex;
flex-wrap: wrap;
}

.div-form {
    margin: 20px;
    width: 90%;
}

.badge-contato {
padding: 10px;
width: 60px;
height: 60px;
margin-top: 30px;
border-radius: 15px;
text-align: center;
background-clip: border-box;
}

.logo-email {
 color: white;
 background-color: white;
 height: 40px;
 width: 40px;
}

li {
    display: flex;
    margin-left: 40px;
    width: 50%;
}

li section{
    justify-content: center;
    margin-top: 40px;
    margin-left: 10px;
}

.pai-logo-contato {
    border: 1px solid white;
    height: 150px;
    width: 80px;
}

.card-form{
    width: 100%;
    height: 670px;
    padding: 75px 30px;
    display: flexbox;
}

.prim-linha-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6%;
    
}

.input-form {
    height: 40px;
    width: 100%;
    color: white;
    margin-top: 5px;
}

.input-form:focus {
    background-color: rgb(47, 47, 47);;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.055);
    border-radius: 12px;
    border: none;
    color: white;
}

.input-assunto {
    background-color: rgb(37, 37, 37);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: none;
    height: 40px;
    width: 100%;
    color: white;
    margin-top: 5px;
}

.input-assunto:focus {
    background-color: rgb(47, 47, 47);;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.055);
    border-radius: 12px;
    border: none;
    color: white;
}

.input-msg {
    background-color: rgb(37, 37, 37);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: none;
    height: 120px;
    width: 100%;
    color: white;
    text-align: justify;
    justify-content: flex-start;
    margin-top: 5px;
}

.input-msg:focus {
    background-color: rgb(47, 47, 47);;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.055);
    border-radius: 12px;
    border: none;
    color: white;
}

.seg-linha-form, .terc-linha-form {
    margin-top: 40px;
}

.enviar-email {
    margin-top: 40px;
    border: 2px solid white;
    padding: 15px;
    width: 100%;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    box-shadow: 0 0 0 1px linear-gradient(to left,#a65fe9, #822bd3);
    border-radius: 12px 12px 12px 12px;
    background-image: linear-gradient(to left,#a85dee, #6A1B9A);
    background-clip: border-box;    
    border: none;
    border-image: linear-gradient(#a85dee, #6A1B9A);
}

.enviar-email:hover {
    cursor: pointer;
    margin-top: 40px;
    border: 2px solid white;
    padding: 15px;
    width: 100%;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    box-shadow: 0 0 0 1px linear-gradient(to left,#bd85f1, #9c52e2);
    border-radius: 12px 12px 12px 12px;
    background-image: linear-gradient(to left,#bd85f1, #9c52e2);
    background-clip: border-box;    
    border: none;
    border-image: linear-gradient(#bd85f1, #9c52e2);
}

.enviar-email:active {
    margin-top: 40px;
    border: 2px solid white;
    padding: 15px;
    width: 100%;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    box-shadow: 0 0 0 1px linear-gradient(to left,#6A1B9A, #4c1170);
    border-radius: 12px 12px 12px 12px;
    background-image: linear-gradient(to left,#6A1B9A, #4c1170);
    background-clip: border-box;    
    border: none;
    border-image: linear-gradient(#6A1B9A, #4c1170);
}
/* CONTATOS */

/* RODAPÉ */
#rodape {
width: 100%;
height: 190px;
display: flex;
}

.text-rodape1{
    font-size: 0.80rem;
    margin: 5% 10%;
    display: flexbox;
    height: 50px;
    width: 14%;
    box-shadow: 0 0.5px 0 0 rgba(255, 255, 255, 0.1);

}

.text-rodape2{
    font-size: 0.80rem;
    margin: 5% 9%;
    display: flexbox;
    height: 50px;
    width: 14%;
    box-shadow: 0 0.5px 0 0 rgba(255, 255, 255, 0.1);

}

.text-rodape3{ 
    font-size: 0.80rem;
    margin: 5% 9%;
    display: flexbox;
    height: 50px;
    width: 14%;
    box-shadow: 0 0.5px 0 0 rgba(255, 255, 255, 0.1);
}

.dev-title {
    font-weight: bold;
    font-size: 0.80rem;
    background-image: linear-gradient(to top,#8426db, #0ed5e4);
    background-clip: text;
    color: transparent;
}

.links-rapidos-rodape,.links-rapidos-rodape a {
    margin-top: 5px;
    text-decoration: none;
    display: grid;
    gap: 20px;
    color: rgb(212, 212, 212);
}

.links-rapidos-rodape a:hover{
    text-decoration: none;
    display: grid;
    gap: 20px;
    color: rgb(212, 212, 212);
    text-decoration: underline;
}

.logos-redes-sociais svg{
    margin: 5px;
}
/* RODAPÉ */

}
/* MOBILE 768px MAX */