* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
}
html {
scroll-behavior: smooth;
}

main {
text-align: center;
height: 950px;
font-size: 30px;
padding-top: 290px;
color: #fff;
}

/* FRONT */
#front {
background-image: url("fundoroxo.png");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
}
.container {
color: aliceblue;
height: 100px;
width: 100%;
text-align: right;
background-color: transparent;
background: none;
}

.right-nav {
font-size: 22px;    
display: inline-block;
font-weight: bold;
margin: 35px;
}       

.gradiente {
background-image: linear-gradient(purple, rgb(235, 115, 135));
background-clip: text;
color: transparent;
}

.botao-projeto {
position: relative;
text-align: center;
font-size: 16px;
height: 55px;
width: 200px;
background-image: linear-gradient(to left,#8a2be2, #6A1B9A);
background-clip: border-box;    
color: aliceblue;
font-weight: bold;
border: none;
border-image: linear-gradient(#8a2be2, #6A1B9A);
border-radius: 6px;
}

.botao-projeto:hover {
cursor: pointer;
position: relative;
text-align: center;
font-size: 16px;
height: 55px;
width: 200px;
background-image: linear-gradient(to left,#6c20b3, #6A1B9A);
background-clip: border-box;    
color: aliceblue;
font-weight: bold;
border: none;
border-image: linear-gradient(#6c20b3, #6A1B9A);
border-radius: 6px;
}

.botao-projeto:active {
cursor: pointer;
position: relative;
text-align: center;
font-size: 16px;
height: 55px;
width: 200px;
background-image: linear-gradient(to left,#3e0f69, #3e0f69);
background-clip: border-box;    
color: aliceblue;
font-weight: bold;
border: none;
border-image: linear-gradient(#3e0f69, #3e0f69);
border-radius: 6px;
}

#redes-sociais{
display: inline-block;
vertical-align: middle;
}
.botao-cv {
position: relative;
text-align: center;
font-size: 16px;
width: 200px;
height: 55px;
background-image: linear-gradient(to left,#191970, #212121);
background-clip: border-box;
color: aliceblue;
font-weight: bold;
border: none;
border-image: linear-gradient(#191970, #212121);
border-radius: 6px;
}

#botoes-main {
padding: 50px;
}

/* .botao-rs{
position: relative;
text-align: center;
padding: 5px;
background-image: linear-gradient(to left,#191970, #212121);
background-clip: border-box;
color: aliceblue;
border: none;
border-image: linear-gradient(#191970, #212121);
border-radius: 6px;
} */


.material-symbols-outlined {
color: aliceblue;
background-color: transparent;
}

header a {
    text-decoration: none;
    color: #fff;
}

header a:hover {
    text-decoration: none;
    color: #784596;
}

/* FRONT */


/* SOBRE */
#sobre {
width: 100%;
min-height: 580px;
color: aliceblue;
background-color: rgb(37, 37, 37);
}

.mini-title {
    border: 2px solid rgb(37, 37, 37);
    height: 100px;
    text-align: center;
}

.mini-title-h1 {
    margin-top: 50px;
    font-weight: bold;
    font-size: 42px;
    background-image: linear-gradient(to top,#8529db, #0ed5e4);
    background-clip: text;
    color: transparent;
}

.content-sobremim {
    border: 2px solid white;
    width: 50%;
    height: 480px;
}

.content-ferramentas {
    border: 2px solid white;
    width: 50%;
    height: 480px;
}




/* SOBRE */


/* PROJETOS */
#projetos {
width: 100%;
height: 800px;
color: aliceblue;
background-color: rgb(0, 0, 0);
}
/* PROJETOS */


/* CONTATOS */
#contatos {
width: 100%;
height: 550px;
color: aliceblue;
background-color: rgb(37, 37, 37);
}
/* CONTATOS */

#sobre h1 {
    position: relative;
}

